.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--mxz-color-bg-primary);
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
